*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.footer{
    background-color: #444444;
}

.grid_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    padding: 3%;
}
img{
    width: 100%;
}
.icon, .log{
    display: flex;
    justify-content: center;
    gap: 1.5%;
}
.icon>div>a>img{
    width: 40px;
}
.log>div>img{
    margin: 20% 0 0.5% 0;
    height: 40%;
}
.head{
    display: flex;
    justify-content: space-between;
    padding: 5% ;
    align-items: center;
}
.head .navv>a{
    color: #ffffff;
}
.navv{
    display: flex;
    justify-content: space-between;
    gap: 10%;
}
.head>p{
    color: #ffffff;
}
@media screen and (min-width: 480px){
    .grid_container{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        justify-content: space-between;
        padding: 3%;
    }
}